
/* SignUp.css */

/* Body styling */
#welcomeLabel {
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
    -fx-alignment: center;

}

#joinLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #666666;
    -fx-alignment: center;
}

/* Form elements styling */
#fullNameLabel,
#emailLabel,
#passwordLabel,
#confirmPasswordLabel,
#genderLabel,
#ageLabel,
#heightLabel,
#weightLabel,
#haveAccountLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

#userNameField,
#emailField,
#passwordField,
#confirmPasswordField,
#ageField,
#heightField,
#weightField {
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
}

/* Button styling */
#signUpButton{
    -fx-font-size: 16px;
    -fx-pref-width: 120px;
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
}
#signInButton {

}

#signUpButton:hover{
    -fx-background-color: #45a049; /* Darker green */
}

/* MenuButton styling */
#genderMenuButton {
    -fx-font-size: 14px;
}
